/* div{
    border: 1px solid;
} */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.containerCard {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    width: 275px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    height: 370px;
}

.imagem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imagem img {
    width: 215px;
    height: 215px;
    border-radius: 10px;
}

.descricao {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}

.preco {
    font-weight: bold;
    color: #ff6200;
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.button button {
    width: 150px;
    height: 40px;
    background-color: #ff6200;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
}


/* Telas até 1200px */
@media (max-width: 1200px) {
    .containerCard {
        gap: 50px;
    }

    .card {
        width: 25%;
    }
}

/* Telas até 992px (tablet) */
@media (max-width: 992px) {
    .containerCard {
        gap: 40px;
        flex-wrap: wrap;
    }

    .card {
        width: 35%;
    }

    .imagem img {
        width: 180px;
    }
}

/* Telas até 768px (tablet pequeno / celular grande) */
@media (max-width: 768px) {
    .containerCard {
        gap: 30px;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }

    .imagem img {
        width: 160px;
    }

    .descricao {
        font-size: 18px;
    }

    .button button {
        width: 130px;
        height: 38px;
        font-size: 16px;
    }
}

/* Telas até 576px (celular) */
@media (max-width: 576px) {

    .containerCard {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .card {
        width: 80%;
    }

    .imagem img {
        width: 70%;
        max-width: 180px;
    }

    .descricao {
        font-size: 17px;
    }

    .preco {
        font-size: 16px;
    }

    .button button {
        width: 140px;
        height: 38px;
        font-size: 16px;
    }
}