div{
    border: 1px solid;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.imgEpesquisa {
    display: flex;

}

.imagemLogo {
    width: 10%;
}

.pesquisaOpcoes {
    width: 80%;
}

.opcoes {
    display: flex;
    justify-content: center;
    gap: 130px;
    padding: 20px 0;
}

.opcoes a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

.opcoes a:hover {
    border-bottom: 1px solid #073c05;
}


.barraPesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 12px;
    gap: 8px;
    margin-top: 3%;
}

.barraPesquisa input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
}


.imgEpesquisa {
    display: flex;
    align-items: center;
    gap: 15px;
}


input {
    width: 80%;
    height: 20%;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.logo {
    width: 130px;
}

header {
    background-color: #ff6200;
}