div {
    border: 1px solid;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.selecionar {
    width: 20px;
}

/* Responsivo */
@media (max-width: 500px) {
    .selecionar {
        width: 25px;
    }
}
