body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.global{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.itemCarrinho{
    border: 1px solid;
    width: 60%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

img{
    width: 10%;
    border-radius: 30px;
    padding: 2%;
}

.nome,
.preco{
    font-size: 21.9px;
    font-weight: bold;
}

.preco{
    color: #ff6200;
}

.quantidade {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    height: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: 20px;
}

.quantidade .btn {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 40px;
}

.quantidade .remover {
    border-right: 1px solid #000;
}

.quantidade .adicionar {
    border-left: 1px solid #000;
}

.quantidade .qtd {
    width: 30px;
    text-align: center;
    font-weight: bold;
    padding: 40px;
    font-size: 20px;
}

.footerCarrinho {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.footerCarrinho .total {
    font-size: 22px;
    font-weight: bold;
    color: #ff6200;
}

.button {
    width: 250px;
    height: 60px;
    background-color: #ff9500;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 22px;
    box-shadow: 5px 5px 2px #ff6200;
    cursor: pointer;
}
